body {
  font-family: Arial;
  background: #f8f3ff;
  padding: 20px;
}

nav a {
  margin-right: 10px;
  text-decoration: none;
  color: #6c4ccf;
  font-weight: bold;
}

button, input {
  padding: 8px;
  margin: 6px 0;
}
